.body-buttons {
  margin-top: 60px;
}
.all-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 50px;
}
.button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  border: 3px solid #f535aa;
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0 0 5px #f535aa, /* Neon pink */ 0 0 10px #f535aa,
    0 0 15px #f535aa, 0 0 20px #f535aa;
  color: #f535aa;
  background-color: #fff;
  border: 3px solid #fff;
}

.icon {
  width: 20px;
}
p {
  margin: 0;
}
.create-car-name {
  display: flex;
  gap: 10px;
}
.input-color-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
input {
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  color: #898989;
  font-family: "Pixelify Sans", sans-serif;
}
input:active {
  border: none;
}
.choosen-color {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 3px solid #fff;
  cursor: pointer;
  border-radius: 5px;
}
.color-pallete {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50px;
  top: 30px;
}
.update-car {
  display: flex;
  align-items: center;
  gap: 5px;
}
.generate-cars {
  padding: 5px;

  /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.998); */
  border-radius: 5px;
}
.element-with-border {
  border: 2px solid #00ffff; /* Neon blue border */
  border-radius: 2px;
  box-shadow: 0 0 10px 5px rgba(0, 149, 255, 0.5); /* Neon blue shadow */
}
.arrows {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
.arrow-svg {
  width: 30px;
}

@media (max-width: 1100px) {
  .body-buttons {
    font-size: 14px;
  }
  input {
    width: 130px;
  }
}

@media (max-width: 950px) {
  .all-buttons {
    flex-wrap: wrap;
  }
}
